<footer class="footer bg-dark py-3 mt-auto">    <!--padding y axis as 3-->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2024</span>   <!--muted text color-->
    </div>

</footer>