<% layout('/layouts/boilerplate')%>
<div class="d-flex justify-content-center">
    <div class="alert alert-danger w-auto d-inline-block" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
        <p><%= err.stack %></p>
    </div>
</div>
